# Node & npm
node_modules/
npm-debug.log*
yarn-error.log*

# Laravel
/vendor/
/.env*
/.env.*
/.env.backup
.phpunit.result.cache
Homestead.yaml
Homestead.json
/.vagrant
.phpactor.json
auth.json

# Laravel specific
/storage/*.key
/public/build
/public/hot
/storage/pail
/storage/logs
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/bootstrap/cache/*
.idea/
.DS_Store

# Composer
composer.lock

# Docker bind mounts & DB
docker/data/
docker/pgsql/*
!docker/pgsql/.gitkeep

# VSCode
.vscode/
.vscode-remote-containers/

# GitHub Codespaces
.devcontainer/

# MacOS
*.DS_Store

# Logs
*.log

# Build & Output
/build/
dist/

# Frontend Next.js (optional)
frontend/.next/
frontend/out/
frontend/.env.local
frontend/.env.*
